<!DOCTYPE html>
{% extends 'temp/patientbase.html' %}
{% block base %}

<html>
<head>
	<title>view solutions</title>
</head>
<body>
	<center>
		<h5 style="color: white  ">
			Solutions From Doctor
		</h5>

		<table border="1" class="table table-striped" style="color: white">
			
			
			<tr style="color:white ">
				<th>Solutions</th>
				<th>Doctor_id</th>
				<th>Patient_id</th>
			</tr>
            {% for i in a %}
            <tr>
				<td>{{ i.solutions }}</td>
				<td>{{ i.doctor_id }}</td>
				<td>{{ i.patient_id }}</td>
			</tr>
            {% endfor %}
		</table>

	</center>

</body>
</html>
{% endblock %}