<!DOCTYPE html>
{% extends 'temp/Doctorbase.html' %}
<html>
{% block base %}

<head>
	<title>View PMR</title>
    <style>
  table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #333;
            margin: 25px;
                font-family: Arial;


}

tr:hover {
  background-color: green;
}

h1{

	font-family: arial;
	font-weight: bolder;
    color: white;
    width: 800px;
}
    tr a{
     color: white;
        }
</style>
</head>
<body>
<center>
	<h1>
		View Patient Medical Report
	</h1>


		<table border="2" class="table table-striped table-bordered" style="color: white">
		<tr style="color: white ">

			<th>Name</th>
			
			<th>Age</th>
            <th>phone</th>

			<th>Address</th>

			<th>Category</th>
            <th>Gender</th>

			<th>Date</th>

			<th>Time</th>
            <th>Prescription</th>


		</tr>
            {% for i in pmv %}
		<tr>
{#			<td>{{ i.pmr_id}}</td>#}
			<td>{{ i.patient.patient_name}}</td>
			<td>{{ i.age}}</td>
            <td>{{ i.phone}}
            <td>{{ i.address}}</td>
            <td>{{ i.category}}</td>
            <td>{{ i.gender}}</td>
            <td>{{ i.date}}</td>
            <td>{{ i.time}}</td>
            <td>{{ i.prescription}}</td>
			<td> <a href="/pmr/updt_pmr/{{ i.pmr_id }}" >Update</a> </td>
			
			

		</tr>
            {% endfor %}
	</table>
	

</body>
</html>
</center>
</body>
</html>
{% endblock %}
