<!DOCTYPE html>
{% extends 'temp/patientbase.html' %}
<html>
{% block base %}

<head>
	<title>
		view notifications
	</title>
</head>
<body>
	<center>
		<h1>
			View the Notifications from Doctor 
		</h1>
		<table border="2" class="table table-striped" style="color: white">
		<tr style="color: white">
			<th>notification_name</th>
			<th>Doctor_id</th>
			<th>Date</th>
			<th>Time</th>
			
		</tr>
            {% for i in ntv %}
		<tr style="color: white">
			<td>{{ i.notification_name }}</td>
			<td>{{ i.doctor_id }}</td>
			<td>{{ i.date }}</td>
			<td>{{ i.time }}</td>
			<td></td>
			<td></td>
			

		</tr>
            {% endfor %}
	</table>
	</center>

</body>
</html>
{% endblock %}
