<!DOCTYPE html>
{% extends 'temp/patientbase.html' %}
<html>
{% block base %}

<head>
	<title>
		Complaint
	</title>
</head>
<body>
<center>
	<h2> Complaint Section</h2>
	<form method="post">
        {% csrf_token %}
		<table>
			
			<tr>
				<td>
					<h6>
					Please enter your complaint:-
				</h6>
				</td>
				<td>
					<textarea cols="30" rows="10" name="cmp" placeholder="enter your complaint">
					
					</textarea>
				</td>
			</tr>

			<tr>
				

				<td>
					<h6>Doctorname:-</h6>
				</td>
				<td>
					<select name="complaint">
                       {% for i in c %}
                        <option value="{{ i.doctor_id }}">
                        {{ i.doctor_name }}

                        </option>
                        {% endfor %}
					</select>

                    </td>
			</tr>

			<tr>
				<td>
					<input type="submit" value="submit ">
				</td>
			</tr>
		</table>

	</form>
</center>
</body>
</html>
{% endblock %}
