<!DOCTYPE html>
{% extends 'temp/Doctorbase.html' %}
{% block base %}
<html>


<head>
	<title>
		view complaint
	</title>
</head>
<body>
	<center>
		<h4>
			Complaint from Patient
		</h4>
		<table border="2" class="table table-striped" style="color: white">
		<tr style="color: white">
			<th>complaint_name</th>
			<th>Doctor_id</th>
			<th>Date</th>
			<th>Time</th>
			<th>Patient_id</th>
			<th>Reply</th>
		</tr>
             {%for i in view%}
		<tr style="color: white">

			<td>{{ i.complaints}}</td>
			<td>{{ i.doctor_id }}</td>
			<td>{{ i.date }}</td>
			<td>{{ i.time }}</td>
			<td>{{ i.patient_id }}</td>
			<td>{{ i.complaint_reply }}</td>
			

		</tr>
            {% endfor %}
	</table>
	</center>

</body>
</html>
{% endblock %}
