
{% extends 'temp/adminbase.html'%}
{% block base %}
    <!DOCTYPE html>
<html>


<head>
	<title>
		Manage doctor
	</title>
    <style>


        	table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #333;
            margin: 25px;
                font-family: Arial;


}

tr:hover {
  background-color: green;
}

h1{

	font-family: arial;
	font-weight: bolder;
    color: white;
    width: 800px;
}
    tr a{
     color: white;
        }

    </style>

</head>
<body>
  <center>
  	<h1>
  		Manage Doctor
  	</h1>

  	<table border="2" class="table table-striped table-bordered" style="color: white">
  		<tr style="color: white">
  			<th>Doctor Name</th>
  			<th>D.O.B</th>
  			<th>Gender</th>
  			<th>Email</th>
  			<th>Phone</th>
  			<th>Status</th>
  		</tr>
        {% for i in mng_dr %}
  		<tr style="color: white">
  			<td>{{ i.doctor_name }}</td>
  			<td>{{ i.date_of_birth}}</td>
  			<td>{{ i.gender}}</td>
  			<td>{{ i.email }}</td>
  			<td>{{ i.phone }}</td>
  			<td>{{ i.status }}</td>
  			<td><a href="/doctor/acpt_dr/{{ i.doctor_id }}" >accept</a></td>
			<td><a href="/doctor/rjct_dr/{{ i.doctor_id }}" >reject</a></td>
  		</tr>
        {% endfor %}
  	</table>
  </center>
</body>
</html>
{% endblock %}
