
{% extends 'temp/adminbase.html'%}
{% block base %}
    <!DOCTYPE html>
<html>


<head>
	<title>
		Manage doctor
	</title>
</head>
<body>
  <center>
  	<h1>
  		Manage Doctor
  	</h1>

  	<table border="2" class="table table-striped" style="color: white">
  		<tr style="color: white">
  			<th>Doctor_name</th>
  			<th>D.O.B</th>
  			<th>Gender</th>
  			<th>Email</th>
  			<th>Phone</th>
  			<th>Status</th>
  		</tr>
        {% for i in mng_dr %}
  		<tr style="color: white">
  			<td>{{ i.doctor_name }}</td>
  			<td>{{ i.date_of_birth}}</td>
  			<td>{{ i.gender}}</td>
  			<td>{{ i.email }}</td>
  			<td>{{ i.phone }}</td>
  			<td>{{ i.status }}</td>
  			<td><a href="/doctor/acpt_dr/{{ i.doctor_id }}" class="btn-dark">accept</a></td>
			<td><a href="/doctor/rjct_dr/{{ i.doctor_id }}" class="btn-dark">reject</a></td>
  		</tr>
        {% endfor %}
  	</table>
  </center>
</body>
</html>
{% endblock %}
